<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>About</title>

    <style>
        .nav-brand{
            height: 30px;
            width : 30px;
        }

        .about-img{
            height: 100%;
            width: 100%;
        }

        .about-row{
            background-color: #FFFF;
            box-shadow: 10px 10px 5px 5px gray;
        }


        .about-col{
            padding: 0px;
            margin : 0px;
        }

        .contact-box{
            width : 100%;
            background-color: black;
            height: 220px;
            padding : 0px;
            margin : 0px
          }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href=""><img class="nav-brand" src="https://imgs.search.brave.com/OVzPtw0-7d5zNgt0iIFXSedunTRAfkQ0VdRJzF09Cpo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE0/NTQ3ODk0NzY2NjIt/NTNlYjIzYmE1OTA3/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TW54OGQy/VmhkR2hsY254bGJu/d3dmSHd3Zkh4OE1B/PT0.jpeg" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="/report">Reports</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="/prediction">Prediction</a>
              </li>
           
            <li class="nav-item ">
                <a class="nav-link text-white" href="/user">user</a>
              </li>
          </ul>
        </div>
      </nav>

      <div class="container mt-5">
      
         <div class="row about-row">

            <div class="col-6">
                <p>
                    Welcome to the Weather Reports App, your go-to destination for accurate and reliable weather forecasts. Our app is designed to provide you with up-to-date weather information for any location, empowering you to plan your activities with confidence and ease.
    
                   With our intuitive interface, you can effortlessly access real-time weather data for your desired locations, whether you're planning a weekend getaway, scheduling outdoor events, or simply staying informed about the weather in your area.
    
                    We understand the importance of accurate weather forecasts in today's fast-paced world, which is why we leverage cutting-edge technology and reliable weather APIs to deliver precise and reliable weather information at your fingertips.
    
                    Whether you're a weather enthusiast, outdoor enthusiast, or simply someone who wants to stay ahead of the weather, the Weather Reports App has you covered. Trust us to provide you with the weather forecasts you need to make informed decisions and enjoy every moment, rain or shine.
                </p>
            </div>

            <div class="col-6 about-col">
               <img class="about-img" src="https://imgs.search.brave.com/BH12oApPx63pf0yWpFkeWKsG77sc9wyddRdedISscgA/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNi8x/MC8yNS8xMi8yOC90/aHVuZGVyc3Rvcm0t/MTc2ODc0Ml82NDAu/anBn" />
            </div>
            
         </div>

      </div>



      <!--2nd para-->

      <div class="container mt-5">
      
        <div class="row about-row">

            <div class="col-6">
                <img class="about-img" src="https://imgs.search.brave.com/ZE4pOmkPFjx2Ne7uuGMTtKk8XNlyc9XnK_P1LNmdJRE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/OTA1NTI1MTUyNTIt/M2E1YTFiY2U3YmVk/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TVRGOGZI/ZGxZWFJvWlhKOFpX/NThNSHg4TUh4OGZE/QT0.jpeg" />
             </div>

           <div class="col-6">
               <p>
                App offers a wide range of functionalities aimed at providing users with comprehensive weather reports and future predictions. Utilizing advanced algorithms and reliable weather data sources, our app delivers accurate and up-to-date forecasts for locations worldwide. Whether you're planning a trip, organizing outdoor activities, or simply staying informed about the weather in your area, our app equips you with the information you need to make informed decisions.

                With the Weather Reports App, users can access detailed weather reports, including current conditions, hourly forecasts, and extended outlooks. Our intuitive interface allows for easy navigation and customization, enabling users to view weather data in their preferred format and timeframe. Additionally, the app offers features such as severe weather alerts, radar imagery, and customizable notifications to keep users informed and prepared for any weather eventuality.
                stands out with its commitment to providing users with not only current weather conditions but also future predictions, enabling better planning and preparedness. Through continuous updates and enhancements, our app ensures that users have access to the most accurate and reliable weather information available. Whether it's checking the forecast for tomorrow's outdoor event or monitoring long-term trends, the Weather Reports App empowers users to stay ahead of the weather curve and make informed decisions
               </p>
           </div>

           
           
        </div>

     </div>


     <div class="container-fluid contact-box mt-5">
        <div class="row">
          <div class="col-md-6">
              <ul class="list-unstyled mt-5">
                  <li class="text-white mx-5">@wheatherapp. alrights reserved</li>
                  <li class="text-white mt-2 mx-5">Email: <a href="mailto:mk1240598@gmail.com">mk1240598@gmail.com</a></li>
                  <li class="text-white mt-2 mx-5">Phone: +91 7995356278</li>
              </ul>
          </div>
    </div>

</body>
</html>